body{
  text-align: center;
  margin: 0;
  font-family: 'Sofia', cursive;
  font-size: 1.5em;
}
h2 {
  font-family: "Times New Roman", Times, serif;

}
.top-container{
    background-color: #B4FF9F;
    position: relative;
    padding-bottom: 200px;
    padding-top: 200px
}
.bottom-cloud{
  position: absolute;
  bottom: 380px;
  left: 400px
}
.top-cloud{
  position: absolute;
  top: 30px;
  right: 500px
}
.mountain{
  padding-top: 200px
}
